.kas-header{
    position: absolute;
    width: 1240px;
    height: 68px;
    left: 100px;
    top: 40px;

}

.kas-navbar{    
    position: absolute;
    left: 100px;
    right: 0%;
    top: 25%;
    bottom: 25%;
    display: flex;
    flex-direction: row;
    
}

.kas-navbar-link{    
    position: absolute;   
    right: 13.95%;
    top: 25%;
    bottom: 25%;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: none;    
    color: #FF6060; 
}
.kas-navbar-link:focus {
    border-bottom: 1px solid #FF6060;
}

.kas-navbar-link2{
position: absolute;
right: 0%;
top: 25%;
bottom: 25%;

font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
display: flex;
align-items: flex-end;
text-align: right;
text-decoration-line: none;  
color: #FF6060;
}

.kas-navbar-link2:focus {
    border-bottom: 1px solid #FF6060;
}
 .kas-logo{ 
    position: absolute;
    left: 0%;
    right: 83.04%;
    top: 0%;
    bottom: 0%;
    
} 