.kas-logement{
    padding-bottom: 50px;
}

h1{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
}

.kas-location{
    font-size: 18px;
}

.kas-span{
    font-weight: 500;
    font-size: 14px;
    background: #FF6060;
    border-radius: 10px;
    color: white;
}
.description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kas-avatar{
    border-radius: 50%;
    margin-left: 20px;
}

.kas-host{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    margin: 30px;
}

.kas-tags {
    display: flex;
    flex-direction: row;
    color: white;
}

.kas-tags li{
    background-color: #FF6060;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:5px ;
    padding-bottom: 5px;
    margin-right: 10px;
}

ul{
    padding-inline-start: 0;
}

li{
    list-style-type: none;
}


.kas-h2{   
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding-left: 10px;  
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FF6060;
    border-radius: 5px;
    margin: 0;
}


.kas-title2{
    position: relative;
    width: 480px;
    padding: 5px;
}

.kas-h2-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;   
}


.kas-par{
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    color: #FF6060;
}


.kas-button{
    position: absolute;
    right: 5%;
    top: 20px;
    background-color: transparent;
    border: transparent;
}


/* ---------------------------------------------------------------------------- */

@media screen and (max-width:768px) {

    .description{
        display: flex;
        flex-direction: column;
    }

    .kas-avatar{
        width: 50px;
    }


    .kas-host{
        justify-content: flex-end;
        margin: 0;
    }

  .kas-host-rating{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

    .kas-h2-container{
        flex-direction: column;
        width: 100%;
       
    }

    .kas-etoile{
        width: 20px;
    }
    .kas-title2{ 
        width: auto;
    }
    .kas-tags{
        font-size: 12px;
        /* justify-content: space-evenly; */
    }
}