.kas-img-background{
    position: relative;
}

.kas-titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 48px;
    color: #ffffff;

}

.kas-img-banner{
    object-fit: cover;
    border-radius: 25px;   
    height: 223px;
    filter: brightness(50%);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

@media screen  and (max-width: 768px){
    .kas-titre{
        width: 200px;
        left: 35%;
        font-size: 24px;
        top: 50%;
    }
    .kas-img-banner{

        height: 111px;
    }

}