.kas-img-background{
    position: relative;
}

.kas-titre{
    position: absolute;
    top: 100px;
    left: 20%;
    width: auto;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    color: #ffffff;

}

.kas-img-banner{
    object-fit: cover;
    border-radius: 25px;   
    height: 223px;
    filter: brightness(50%);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}

@media screen  and (max-width: 768px){
    .kas-titre{
        width: 200px;
        left: 10%;
        font-size: 24px;
        top: 45px;
    }
    .kas-img-banner{

        height: 111px;
    }

}