.kas-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 68px;
    padding: 20px;
   
}

.kas-logo{
   width: 150px;
    height: 55px;
}

.kas-navbar{    
    display: flex;
    padding-right: 20px;
    font-size: 24px;
}

.kas-navbar-link{    

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    text-decoration-line: none;    
    color: #FF6060; 
    margin-right: 20px;
}


.kas-navbar-link2{

font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 142.6%;
display: flex;
align-items: center;
text-decoration-line: none;  
color: #FF6060;

margin-left: 20px;
}



.navbar-active{
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .kas-navbar-link {
        font-size:14px;
        padding: 0;
    }
    .kas-navbar-link2{
        font-size: 14px;
        margin: 0;
    }
    .kas-header{
        justify-content: space-between;
        padding-right: 0;
    }
   
}