.carousel{
    position: absolute;
    width: 1240px;
    height: 415px;
    left: 100px;
    top: 150px;


}
.carousel-image-container{
    border-radius: 25px;
    width: 1240px;
    height: 415px;
    object-fit: cover;
}


#g{
    position: absolute;
    top: 170px;
    left: 0;
    background-color: transparent;
    border: none;
    opacity: 0.4;
}
#g:focus{
    opacity: 1;
    
}

#d{
    position: absolute;
    top: 170px;
    right: 0;
    background-color: transparent;
    border: none;
    opacity: 0.4;
   
}
#d:focus{
    opacity: 1;  
}
