
.kas-error{ 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 142.6%;
    /* or 411px */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FF6060;
}

.kas-text-error{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;

    display: flex;
    align-items: flex-end;

    color: #FF6060;    
}

.kas-return{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    display: flex;
    align-items: flex-end;
    text-decoration-line: underline;

    color: #FF6060;
}